@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-mode {
  background-color: hsl(235, 21%, 11%);
  color: #eeeeee;
}

.light-mode {
  background-color: #fafafa;
  color: #fff;
}

[type="checkbox "]:checked + span:after,
[type="checkbox "].with-gap:checked + span:before,
[type="checkbox "].with-gap:checked + span:after {
  background: linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-width: 2px;
  border-image: linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
    0 0 0 0;
  background: linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      padding-box,
    linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-radius: 50%;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  background: linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-width: 2px;
  border-image: linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
    0 0 0 0;
  background: linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      padding-box,
    linear-gradient(97deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-radius: 50%;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border-radius: 50%;
}

[type="checkbox"] + span:not(.lever) {
  font-size: 18px;
}
.DarkTheme,
.LightTheme {
  display: none;
}

body.dark-mode .DarkTheme {
  display: block;
}

body.dark-mode .header {
  background-image: url(https://raw.githubusercontent.com/CarlinGebyte/Reto2-Sprint3-AG/main/src/assets/img/bg-desktop-dark.jpg);
}
@media (max-width: 768px) {
  body.dark-mode .header {
    background-image: url(https://raw.githubusercontent.com/CarlinGebyte/Reto2-Sprint3-AG/main/src/assets/img/bg-mobile-dark.jpg);
  }
}

body.dark-mode .inputAdd {
  background-color: hsl(235, 24%, 19%) !important;
  color: hsl(234, 39%, 85%);
  border: 1px solid hsl(235, 24%, 19%) !important;
}
body.dark-mode .actionsBar {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
}
body.dark-mode .actionsBar a {
  color: hsl(234, 11%, 52%);
}
body.dark-mode .actionsBar a:hover {
  color: hsl(236, 33%, 92%);
}

body.dark-mode .task {
  border-bottom: 1px solid #36384d;
}
body.dark-mode .task label {
  color: hsl(234, 39%, 85%);
}
body.dark-mode .cardFooter {
  color: hsl(234, 11%, 52%);
}
body.dark-mode .modal {
  background: hsl(235, 21%, 11%);
}

body.light-mode .header {
  background-image: url(https://raw.githubusercontent.com/CarlinGebyte/Reto2-Sprint3-AG/main/src/assets/img/bg-desktop-light.jpg);
}
@media (max-width: 768px) {
  body.light-mode .header {
    background-image: url(https://raw.githubusercontent.com/CarlinGebyte/Reto2-Sprint3-AG/main/src/assets/img/bg-mobile-light.jpg);
  }
}
body.light-mode .inputAdd {
  background-color: #fff !important;
  color: #303038 !important;
  border: 1px solid #fff !important;
}
body.light-mode .inputAdd::placeholder {
  color: #303038 !important;
}
body.light-mode .actionsBar {
  background-color: #fff !important;
  color: hsl(236, 9%, 61%);
  font-weight: 500;
}
body.light-mode .actionsBar a {
  color: hsl(236, 9%, 61%);
}
body.light-mode .actionsBar a:hover {
  color: hsl(235, 19%, 35%);
}
body.light-mode .task {
  background-color: #fff;
  border-bottom: 1px solid hsl(234, 39%, 85%);
}
body.light-mode .task label {
  color: #303038;
}
body.light-mode .containerTasks {
  box-shadow: 0px 2px 19px 5px rgba(0, 0, 0, 0.14);
}

body.light-mode .cardFooter {
  color: hsl(236, 9%, 61%);
}
body.light-mode .modal input {
  box-shadow: 0px 2px 19px 5px rgba(0, 0, 0, 0.14) !important;
}
body.light-mode .modal  .fa-times {
    color: #303038;

}
